<div fxFlex.xs=100 fxLayout='column' fxLayoutAlign='center center' >
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex.xs="100" class="maincontainer">
        <form [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit()">
            <div style="text-align: center;">
                <h1>
                    <span style="color: blue;">F</span><span style="color: orange;">U</span><span
                        style="color: red;">N</span>
                    <span style="color: green;">D</span><span style="color: blueviolet;">O</span><span
                        style="color: bisque;">O</span>
                    <span style="color: brown;">N</span><span style="color: blue;">O</span><span
                        style="color: red;">T</span>
                    <span style="color: orange;">E</span>
                </h1>
                <h1>Forgot Password</h1>
                <h2>Enter your email to recover password</h2>
            </div>
            <div fxLayout="column" fxLayoutAlign="centre">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Enter Email">
                    <mat-error>Valid email required</mat-error>
                </mat-form-field>
            </div>
            <div class="button">
                <button mat-flat-button color="primary">Next</button>
            </div>
        </form>
    </div>
</div>