<mat-card
    style="width:290px;max-height:500px;background-color:whitesmoke;margin-bottom: 20px; margin-top: 50px;margin-left: 50px;">
    <div>
        <div style="padding-top: 10px;">
            <input type="text" #txt class="input" placeholder="Title">
        </div>
        <div style="padding-top: 10px;">
            <input type="text" #txt class="input" placeholder="Description">
        </div>
    </div>

    <div style="height: 10px;padding-top: 20px;">
        <app-icon></app-icon>
    </div>
</mat-card>