<div fxLayoutAlign="center center" style="margin-top: 30px; margin-left: 20px; ">
    <div style="width:700px; background-color:whitesmoke; border-radius: 10px;">
        <form [formGroup]="createnoteForm" (ngSubmit)="onSubmit()">
            <div style="height: 30px; padding: 10px 15px; font-size: medium;" (click)="hideAndShow()"
                *ngIf="show || !show">

                <input formControlName="title" type="text" #txt class="input" placeholder="Title">
                <img *ngIf="!show" src="../../../assets/image/checkbox icon.png"
                    style="width: 22px; margin-left:8px; padding-right: 20px;">
                <img *ngIf="!show" src="../../../assets/image/paint brush icon.png"
                    style="width: 22px; margin-left:8px; padding-right: 20px;">
                <img *ngIf="!show" src="../../../assets/image/add-image icon.png"
                    style="width: 22px; margin-left:8px; padding-right: 20px;">
                <img *ngIf="show" src="../../../assets/image/pin icon.png"
                    style="width: 22px; margin-left:100px; padding-right: 20px;">
            </div>
            <div style="height: 30px; padding: 10px 15px; font-size: medium;" *ngIf="show">
                <input formControlName="description" type="text" #txt class="input" placeholder="Description">

            </div>

            <div style="height: 45px; padding-top: 10px;" *ngIf="show" fxLayout="row">
                <app-icon></app-icon>
                <div style="position: right; padding-left: 330px;padding-top: -60px;">
                    <button mat-button class="closebutton">Close</button>
                </div>


            </div>
        </form>
    </div>
</div>