.mat-form-field + .mat-form-field {
    margin-left: 20px;
    
  }
.main{
    // margin: 20px 30%;
    
}
.input{
  width:500px;
  padding:8px ;
  border: none;
  font-size: 115%;
  outline: none;
  background-color:whitesmoke;
}