<div fxLayout="row">
    <img *ngIf="!isTrash" src="../../../assets/image/bell icon 1.png"
        style="width: 15px; margin-left:5px; padding-right: 15px;height: 15px;">
    <img *ngIf="!isTrash" src="../../../assets/image/add-user-male icon.png"
        style="width: 15px; margin-left:5px; padding-right: 15px;height: 15px;">


    <img *ngIf="!isTrash" mat-button [matMenuTriggerFor]="Colour" src="../../../assets/image/colour icon.png"
        style="width: 15px; margin-left:5px; padding-right: 15px;height: 15px;cursor: pointer;">
    <mat-menu #Colour="matMenu" yPosition="below">
        <div class="urr">
            <div *ngFor="let Colour of colorsArr">
                <button mat-mini-fab [style.background]="Colour?.Colorcode"
                    (click)="changeColor(Colour.Colorcode)"></button>
            </div>
        </div>
    </mat-menu>

    <img *ngIf="!isTrash" src="../../../assets/image/add-image icon.png"
        style="width: 15px; margin-left:5px; padding-right: 15px;height: 15px;">

    <img *ngIf="!isTrash && !isArchieve" src="../../../assets/image/archieve icon.png"
        style="width: 15px; margin-left:5px; padding-right: 5px;height: 15px;cursor: pointer;" (click)="ArchieveNote()">

    <img *ngIf="!isTrash && isArchieve" src="../../../assets/image/unarchieve image.png"
        style="width: 15px; margin-left:5px; padding-right: 5px;height: 15px;cursor: pointer;"
        (click)="UnArchieveNote()">

    <img *ngIf="!isTrash" mat-button [matMenuTriggerFor]="menu" src="../../../assets/image/more icon.png"
        style="width: 15px; margin-left:10px; padding-right: 15px;height: 15px;padding-bottom: 20px;cursor: pointer;">
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="TrashNote()">Delete</button>
        <button mat-menu-item> Add Note</button>
    </mat-menu>
</div>

<div *ngIf="isTrash" fxLayout="row" fxLayoutAlign="start end" style="margin-top: -10px;">
    <button mat-icon-button (click)="permanentDelete()"><img class="icons"
            src="./../../../assets/image/delete forever.png"
            style="width: 15px; margin-left:10px; padding-right: 15px;height: 15px;padding-bottom: 20px;cursor: pointer;">
    </button>
    <button mat-icon-button (click)="Restore()"><img class="icons" src="./../../../assets/image/restore from trash.png"
            style="width: 15px; margin-left:10px; padding-right: 15px;height: 15px;padding-bottom: 20px;cursor: pointer;">
    </button>
</div>