<div class="example-container" fxFlex.xs="100">
    <mat-toolbar color="primary" class="example-toolbar" fx-shrink="300">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon fxLayoutAlign="top center" style="padding: 13px; margin-right: 50px;">menu</mat-icon>
        </button>
        <img src="../../../assets/image/keeplogo.png" style="width: 40px; margin-left:8px">
        <h1 class="example-app-name" fxLayout="row">FundooNote</h1>
        <div fxFlex="100">
            <input (keyup)=" searchtitle($event)"
                style="padding-right: 30px; width: 500px ;border-radius: 10px;padding-left: 50px;margin-left: 30px;height:48px;  border:none;vertical-align:top  ;position: top center;max-width: 600px;min-width: 50px;"
                placeholder="search">

        </div>
        <div fxLayout="row" fxLayoutAlign="start center" style="padding:5px 10px 5px 10px; border-radius: 30px;">
            <img src="../../../assets/image/refreshlogo.png" style="width: 20px; margin-left:8px">
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" style="padding:5px 10px 5px 10px;border-radius: 30px">
            <img src="../../../assets/image/viewStream.png" style="width: 20px; margin-left:8px">
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" style="padding:5px 10px 5px 10px;border-radius: 30px">
            <img src="../../../assets/image/setting logo.png" style="width: 20px; margin-left:8px">
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" style="padding:5px 10px 5px 40px;border-radius: 30px">
            <img src="../../../assets/image/app.png" style="width: 20px; margin-left:8px">
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" style="padding:5px 0px 5px 10px;border-radius: 30px">
            <img mat-button [matMenuTriggerFor]="menu" src="../../../assets/image/profile.png"
                style="width: 20px; margin-left:8px; cursor: pointer;">
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
        </div>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" fixedTopGap="56">
            <div>
                <div>
                    <mat-nav-list class="colour1" fxLayout="row" fxLayoutAlign="start center">
                        <a mat-list-item routerLink="./Notes">
                            <mat-icon style="padding-right: 30px;">lightbulb</mat-icon>Notes
                        </a>
                    </mat-nav-list>
                </div>
                <div>
                    <mat-nav-list class="colour1" fxLayout="row" fxLayoutAlign="start center">
                        <a mat-list-item routerLink=".">
                            <mat-icon style="padding-right: 30px;"> notifications</mat-icon>Remainders
                        </a>
                    </mat-nav-list>
                </div>
                <div *ngFor="let LabelArr of lableArray">
                    <mat-nav-list fxLayout="row" class="colour1" fxLayoutAlign="start center">
                        <a mat-list-item>
                            <mat-icon style="padding-right: 30px;"> labels</mat-icon>
                            {{LabelArr.labelName}}
                        </a>
                    </mat-nav-list>
                </div>
                <div>
                    <mat-nav-list class="colour1" fxLayout="row" fxLayoutAlign="start center">
                        <a mat-list-item (click)="openDialog()">
                            <mat-icon style="padding-right: 30px;">edit</mat-icon>Edit Labels
                        </a>
                    </mat-nav-list>
                </div>
                <div>
                    <mat-nav-list class="colour1" fxLayout="row" fxLayoutAlign="start center">

                        <a mat-list-item routerLink="./Arvhieve">
                            <mat-icon style="padding-right: 30px; cursor: pointer;">archive</mat-icon>Archieve
                        </a>
                    </mat-nav-list>
                </div>
                <div>
                    <mat-nav-list class="colour1" fxLayout="row" fxLayoutAlign="start center">
                        <a mat-list-item routerLink="./Trash">
                            <mat-icon style="padding-right: 30px;">delete</mat-icon>Bin
                        </a>
                    </mat-nav-list>
                </div>
            </div>

        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet>
            </router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>