img{
    width: 24px; margin-left:2px; padding-right: 5px;height: 24px;cursor: pointer;
}
input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 2px;
    background-color:none;
    border-width: 0px;
    border: none;
    outline: none;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(187, 169, 169);
}