::ng-deep.mat-stroked-button.mat-primary{
    border: none
    ;
} 
.main
{
    padding: 15px;
    border:2px solid #d5d1d1;
    margin: 20px;
    border: radius 5px;
    display:block;
    border-radius: 10px;
}
