::ng-deep.mat-stroked-button.mat-primary{
    border: none
    ;
} 
.main
{
    padding: 20px 30px 20px 30px;
    border:1px solid #d5d1d1;
    margin: 0px;
    display:block;
    // border-radius: 10px;
}
