.maincontainer{
    padding: 60px;
    border:1px solid #d5d1d1;
    margin:40px;
    border: radius 3px;
    display:block;
    border-radius: 10px;
}
.button{
    padding-top: 30px;
    float: right;
}
.pass{
    font-size:small;
}
.reset{
    font-size: larger;
}

