<div fxFlex=100 fxLayout='column' fxLayoutAlign='center center' >
    <div fxLayout="row" fxLayoutAlign="center center" class="maincontainer">
        <form [formGroup]="resetpasswordForm" (ngSubmit)="onSubmit()">
            <div style="text-align: center;">
                <h1>
                    <span style="color: blue;">F</span><span style="color: orange;">U</span><span
                        style="color: red;">N</span>
                    <span style="color: green;">D</span><span style="color: blueviolet;">O</span><span
                        style="color: bisque;">O</span>
                    <span style="color: brown;">N</span><span style="color: blue;">O</span><span
                        style="color: red;">T</span>
                    <span style="color: orange;">E</span>
                </h1>
                <h1 class="reset">Reset Password</h1>
                <h1 class="pass">Enter New Password</h1>
            </div>
            <div fxLayout="column" fxLayoutAlign="centre">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Enter New Password</mat-label>
                    <input matInput formControlName="password" placeholder="">
                    <mat-error>Enter valid password</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutAlign="centre">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput formControlName="password" placeholder="">
                    <mat-error>Enter valid Confirm Password</mat-error>
                </mat-form-field>
            </div>
            <div class="button">
                <button mat-flat-button color="primary">Next</button>
            </div>
        </form>
    </div>
</div>