.maincontainer{
    padding: 60px 120px 270px 120px;
    border:1px solid #d5d1d1;
    // margin:70px;
    border: radius 3px;
    display:block;
    // border-radius: 10px;
}
.button{
    padding-top: 50px;
    float: right;
}
.pass{
    font-size:small;
}
.reset{
    font-size: larger;
}

